main{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f5deb3;
    padding-top: 5vh;
}

article {
    width: 70%;
    background-color: #f5f5f5;
    box-shadow: #000000 5px 5px 10px 0;
    padding:20px;
    margin-bottom: 2.5vh;

}

article>h2 {
    color:#ffa500;
    font-size: 2em;
    margin-bottom: 1.5vh;
}
 article>h3 {
        color:#ffa500;
        font-size: 1.5em;
        margin-bottom: 1.5vh;
    
}

article>p, article>li{
    font-size: 1.2em;
}

article>ul{
    margin-left: 20px;
}

.espace{
    /*image de fond glissante*/
    height: 55vh;
    width: 100%;
    background-image: url("../assets/GroupePN3.jpg");
    background-repeat: no-repeat;
    background-size: 80vw;
    background-attachment: fixed;
    background-position-y: 40vh;
    background-position-x: 20vw;

    /*le texte*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color:#f5deb3 ;
    padding-right: 5vw;
}
.espace>h2{
    font-size: 4em;
}
.espace>h3{
    font-size: 3.5em;
}
#last{
    margin-bottom: 15vh;
    margin-top: 15vh;
}
iframe{
    width: 80%;
    aspect-ratio: 16/9;
    margin-left: 10%;
}