h3{
    color:#0000ff;
}
h4 {
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

body{
    background-color: #1e83db;
}

#kitty {
    width:20%;
}

#coord{
    width:20vw;
    background-color: #f0ffff;
    border:#000000 3px solid;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px;
    transition : transform 2s;
}

#coord:hover{
    background-color: #a52a2a;
    transform:translate3d(5px,5px,0);
    transition : transform 0.5s;
}