@font-face {
    font-family: "police";
    src: url("./Butler_Black.otf");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor:crosshair;
}

header{
    /*positionnement des blocks h1 et h2 dans le header*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*taille et apparence de base du header*/
    align-items: center;

    width:100vw;
    height:25vh;
    background-color: #000000;
    color:#f5f5f5;
    font-family: "police";
    /*image de fond du header*/
    background-image: url("../assets/dark-headerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header>h1{
    font-size: 7vh;
}

header>h2{
    font-size: 5vh;
}

nav{
    /*taille et apparence de base du nav (menu)*/
    height: 75vh;
    width: 20vw;
    background-color: #000000;
    color: #f5f5f5;
    /*optionnel*/
    background-image: url("../assets/dark-headerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*réglage de la disposition des boutons*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bouton{
    /*formatage du texte*/
    color: #f5f5f5;
    text-decoration: none;
    font-family: "police";
    font-size: 4vh;
    display: block;
    background-color: #1f1f1f;
    border-radius: 0.5vh;
    padding:0.5vh;
    width: 14vw;
    text-align: center;
    transition: box-shadow 500ms;
    cursor:pointer;
}

.bouton:hover{
    /*color: #1f1f1f;
    background-color: #f5f5f5;*/
    box-shadow: #f5f5f5 5px 5px 10px 0;
}
